@font-face {
    font-family: MessinaSans;
    src: url(./fonts/MessinaSans-Light.woff);
}

@font-face {
    font-family: MessinaSans;
    src: url(./fonts/MessinaSans-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: MessinaSans;
    src: url(./fonts/MessinaSans-LightItalic.woff);
    font-style: italic;
}

* {
    font-family: MessinaSans, sans-serif;
    padding: 0;
    margin: 0;
}

#section--header {
    text-align: left;
    margin: 5rem 4.5rem;
    margin-bottom: 3rem;
    font-size: 2rem;
    display: flex;
    justify-content: center;
}

#section--header>div {
    text-align: center;
}

#section--game {
    margin: 0 4.5rem;
    font-size: 2rem;
}

#section--choices {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.choice {
    border: 1px solid black;
    background: white;
    padding: 2rem 0rem;
    width: 350px;
    font-size: 2.5rem;
    cursor: pointer;
    transition-duration: 0.4s;

    flex: auto;
}

.choice:hover {
    background-color: #FFEAA7;
}

#ui--menu {
    text-align: center;
    position: absolute;
    top: 35%;
    left: 30%;
    font-size: 3rem;
    font-weight: bold;
}

.hidden {
    display: none;
}

.button--menu {
    border: 1px solid black;
    background: white;
    padding: 2rem 0rem;
    width: 350px;
    font-size: 2.5rem;
    cursor: pointer;
    transition-duration: 0.4s;

    flex: auto;
}

.button--menu:hover {
    background-color: #FFEAA7;
}
