@font-face {
    font-family: MessinaSans;
    src: url(../fonts/MessinaSans-Light.woff);
}

@font-face {
    font-family: MessinaSans;
    src: url(../fonts/MessinaSans-Bold.woff);
    font-weight: bold;
}

@font-face {
    font-family: MessinaSans;
    src: url(../fonts/MessinaSans-LightItalic.woff);
    font-style: italic;
}

* {
    font-family: MessinaSans, sans-serif;
    padding: 0;
    margin: 0;
}

#section--header {
    text-align: right;
    margin: 2rem;
    font-size: 2rem;
}

#section--game {
    margin: 4rem 2rem;
    font-size: 2rem;
}

#section--choices {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    gap: 6rem;
}

.choice {
    border: 1px solid black;
    background: white;
    padding: 2rem 0rem;
    width: 350px;
    font-size: 2.5rem;
    cursor: pointer;
    transition-duration: 0.4s;

    flex: auto;
}

.choice:hover {
    background-color: #FFEAA7;
}